$font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
.text-box > label {
  font-family: $font;
  font-weight: 400;
  font-size: 32px;
}
textarea {
  font-family: $font;
  height: 36vh;
}
.alert-box {
  position: relative;
  height: 8vh;
}
.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 37px;
  margin-left: 30px;
}
.button-Grp {
  margin-top: 22px;
}
h2 {
  margin-top: 30px;
  font-family: $font;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 111px;
}
p {
  margin-top: 18px;
  font-family: $font;
  margin-left: 111px;
  color: black;
  display: inline-block;
  width: 68vw;
  word-wrap: break-word;
}
.btn {
  margin: 0 31px;
  width: 139px;
}
